<div
  class="h-dvh overflow-hidden max-sm:px-6 flex flex-col items-center justify-center bg-dark-purple"
>
  <div class="mb-4">
    <h1 class="text-pale-lavender font-bold text-[28px]">Airdrop Tracker</h1>
  </div>

  <div
    class="border border-pale-lavender shadow-md shadow-medium-orchid md:w-[360px] rounded-lg p-4 max-sm:w-full"
  >
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="mb-2">
        <label for="email" class="form-label">Full Name</label>

        <input
          type="text"
          id="fullname"
          name="fullname"
          placeholder="Full Name"
          class="form-input"
          formControlName="fullname"
          autocomplete="fullname"
        />

        <app-form-error
          [control]="registerForm.get('fullname')"
          label="Full Name"
        />
      </div>

      <div class="mb-2">
        <label for="email" class="form-label">Email</label>

        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          class="form-input"
          formControlName="email"
          autocomplete="email"
        />

        <app-form-error [control]="registerForm.get('email')" label="Email" />
      </div>

      <div class="mb-4">
        <label for="password" class="form-label">Password</label>

        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          class="form-input"
          formControlName="password"
          autocomplete="off"
        />

        <app-form-error
          [control]="registerForm.get('password')"
          label="Password"
        />
      </div>

      <button type="submit" class="btn-primary">Register</button>
    </form>

    <div class="mt-2">
      <span class="text-pale-lavender/80 text-sm"
        >Already have an account?
        <a href="auth/login" class="text-medium-orchid hover:underline">
          Login
        </a>
      </span>
    </div>
  </div>
</div>
