<!-- Form -->
<div class="border border-white/50 rounded-lg p-4 mt-4">
  <div class="mb-4 pb-4 border-b border-b-white/15">
    <h2 class="text-white tracking-wide">Create New Airdrop</h2>
  </div>

  <form [formGroup]="airdropForm" (ngSubmit)="create()">
    <div class="md:grid md:grid-cols-3 gap-4 mb-6">
      <div class="max-sm:mb-4">
        <label for="name" class="form-label block mb-2">
          Name
          <span class="form-required">*</span>
        </label>

        <input
          type="text"
          id="name"
          name="name"
          placeholder="Airdrop name"
          class="form-input"
          autofocus
          formControlName="name"
        />

        <span
          *ngIf="validationErrors.name?.length"
          class="form-error"
          >{{validationErrors.name?.[0]}}</span
        >

        <app-validation [control]="airdropForm.get('name')" label="Name" />
      </div>

      <div class="max-sm:mb-4">
        <label for="name" class="form-label block mb-2">
          Link
          <span class="form-required">*</span>
        </label>

        <input
          type="text"
          id="link"
          name="link"
          placeholder="Airdrop link"
          class="form-input"
          formControlName="link"
        />

        <span
          *ngIf="validationErrors.link?.length"
          class="form-error"
          >{{validationErrors.link?.[0]}}</span
        >

        <app-validation
          [control]="airdropForm.get('link')"
          label="Airdrop link"
        />
      </div>

      <div class="max-sm:mb-4">
        <label for="name" class="form-label block mb-2">Faucet Link</label>

        <input
          type="text"
          id="faucetLink"
          name="faucetLink"
          placeholder="Airdrop faucet link"
          class="form-input"
          formControlName="faucetLink"
        />

        <span
          *ngIf="validationErrors.faucetLink?.length"
          class="form-error"
          >{{validationErrors.faucetLink?.[0]}}</span
        >

        <app-validation
          [control]="airdropForm.get('faucetLink')"
          label="Faucet link"
        />
      </div>

      <div class="max-sm:mb-4">
        <label for="name" class="form-label block mb-2">Referral Link</label>

        <input
          type="text"
          id="referralLink"
          name="referralLink"
          placeholder="Referral Link"
          class="form-input"
          formControlName="referralLink"
        />

        <span
          *ngIf="validationErrors.referralLink?.length"
          class="form-error"
          >{{validationErrors.referralLink?.[0]}}</span
        >

        <app-validation
          [control]="airdropForm.get('referralLink')"
          label="Referral link"
        />
      </div>

      <div class="max-sm:mb-4">
        <label for="type" class="form-label block mb-2">
          Type
          <span class="form-required">*</span>
        </label>

        <select
          name="type"
          id="type"
          class="form-input !py-[10px]"
          formControlName="type"
        >
          <option value="" disabled selected>Select an options</option>
          <option value="1">Testnet</option>
          <option value="2">DePin</option>
        </select>

        <span
          *ngIf="validationErrors.type?.length"
          class="form-error"
          >{{validationErrors.type?.[0]}}</span
        >

        <app-validation [control]="airdropForm.get('type')" label="Type" />
      </div>

      <div class="max-sm:mb-4">
        <label for="loginType" class="form-label block mb-2">
          Login Method
          <span class="form-required">*</span>
        </label>

        <input
          type="text"
          id="loginType"
          name="loginType"
          placeholder="Airdrop login method. Ex: Metamask, Phantom"
          class="form-input"
          formControlName="loginType"
        />

        <span
          *ngIf="validationErrors.loginType?.length"
          class="form-error"
          >{{validationErrors.loginType?.[0]}}</span
        >

        <app-validation
          [control]="airdropForm.get('loginType')"
          label="Login method"
        />
      </div>

      <div class="max-sm:mb-4 md:col-span-2">
        <label for="wallet" class="form-label block mb-2">
          Wallet Address
        </label>

        <input
          type="text"
          id="wallet"
          name="wallet"
          placeholder="Wallet Address"
          class="form-input"
          formControlName="wallet"
        />

        <span
          *ngIf="validationErrors.wallet?.length"
          class="form-error"
          >{{validationErrors.wallet?.[0]}}</span
        >

        <app-validation [control]="airdropForm.get('wallet')" label="Wallet" />
      </div>

      <div class="max-sm:mb-4">
        <label for="status" class="form-label block mb-2">
          Status
          <span class="form-required">*</span>
        </label>

        <select
          name="status"
          id="status"
          class="form-input !py-[10px]"
          formControlName="status"
        >
          <option value="" disabled selected>Select an options</option>
          <option value="1">On Going</option>
          <option value="0">Completed</option>
        </select>

        <span
          *ngIf="validationErrors.status?.length"
          class="form-error"
          >{{validationErrors.status?.[0]}}</span
        >

        <app-validation [control]="airdropForm.get('status')" label="Status" />
      </div>

      <div class="md:col-span-3">
        <label for="description" class="form-label block mb-2">
          Airdrop Description
        </label>

        <input
          type="text"
          id="description"
          name="description"
          placeholder="Airdrop description"
          class="form-input"
          formControlName="description"
        />

        <span
          *ngIf="validationErrors.description?.length"
          class="form-error"
          >{{validationErrors.description?.[0]}}</span
        >

        <app-validation
          [control]="airdropForm.get('description')"
          label="Description"
        />
      </div>
    </div>

    <div class="flex justify-end space-x-3">
      <a routerLink="/" class="outline-btn-secondary">Cancel</a>
      <button class="outline-btn-primary">Submit</button>
    </div>
  </form>
</div>

<!-- TOAST -->
<p-toast />
