<!-- HEAD -->
<div class="flex items-center justify-between flex-wrap">
  <div>
    <h1 class="text-white md:text-2xl text-lg tracking-wide font-bold mb-1">
      Hola, {{ userName }}!
    </h1>
    <h2 class="text-white/50 tracking-wide max-sm:text-sm">
      Have you done your <span class="italic">daily</span> today?
    </h2>
  </div>

  <div class="max-sm:mt-4">
    <a routerLink="/airdrop/create" class="outline-btn-primary">New Airdrop</a>
  </div>
</div>

<!-- SKELETON -->
<div *ngIf="isLoading" class="mt-8">
  <div class="animate-pulse bg-gray-50/15 rounded-lg w-full h-[50px] p-4"></div>
  <div
    class="animate-pulse mt-4 bg-gray-50/15 rounded-lg w-full h-[200px] p-4"
  ></div>
</div>

<!-- DATA -->
<div
  *ngIf="!isLoading"
  class="mt-8 rounded-md shadow-md overflow-x-auto border border-white/50"
>
  <table class="w-full table">
    <thead>
      <tr class="text-white border-b border-b-white/50">
        <th class="p-3 text-left text-sm tracking-wider">#</th>
        <th class="p-3 text-left text-sm tracking-wider">Name</th>
        <th class="p-3 text-left text-sm tracking-wider">Account</th>
        <th class="p-3 text-left text-sm tracking-wider">Type</th>
        <th class="p-3 text-left text-sm tracking-wider">Wallet</th>
        <th class="p-3 text-left text-sm tracking-wider">Last Access</th>
        <th class="p-3 text-left text-sm tracking-wider">Link</th>
        <th class="p-3 text-left text-sm tracking-wider">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let parent of tableData">
        <tr class="text-white">
          <td class="p-3 text-left text-sm tracking-wide">
            {{ parent.id }}
          </td>
          <td class="p-3 text-left text-sm tracking-wide">
            {{ parent.name }}
          </td>
          <td class="p-3 text-left text-sm tracking-wide">
            {{ parent.loginType }}
          </td>
          <td class="p-3 text-left text-sm tracking-wide">
            {{ parent.type }}
          </td>
          <td class="p-3 text-left text-sm tracking-wide">
            {{ parent.wallet }}
          </td>
          <td class="p-3 text-left text-sm tracking-wide">
            {{ parent.type }}
          </td>
          <td class="p-3 text-left text-sm tracking-wide">
            <a [routerLink]="parent.link" target="_blank" class="text-sm px-2 py-1 rounded-md border mr-2">Faucet</a>
            <a [routerLink]="parent.link" target="_blank" class="text-sm px-2 py-1 rounded-md border">Website</a>
          </td>
          <td class="p-3 text-left flex items-center gap-2">
            <a href=""><i-feather name="plus-square"/></a>
            <a href=""><i-feather name="edit"/></a>
            <a href=""><i-feather name="trash2"/></a>
          </td>
        </tr>

        <tr class="text-white" *ngFor="let child of parent.children">
          <td class="p-3 text-left text-sm tracking-wide"></td>
          <td class="p-3 text-left text-sm tracking-wide">
            {{ child.name }}
          </td>
          <td class="p-3 text-left text-sm tracking-wide">
            <a href="{{ child.link }}">Faucet</a>
            <a href="{{ child.link }}">Website</a>
          </td>
          <td class="p-3 text-left text-sm tracking-wide">
            {{ child.loginType }}
          </td>
          <td class="p-3 text-left text-sm tracking-wide">
            {{ child.wallet }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
